body{
    margin: 0px 40px;
    background-color: white;
    color: #2c2c2c;
    font-size: 16px;
    font-family: Open Sans;
}
@font-face {
    font-family: kelloggs;
    src: url(KelloggsSans-Regular.woff);
}
header{
    width: 100%;
    height: 139.6px;
    display: flex;
    justify-content: space-between;
}
.first{
    height: 79.2%;
    width: 80%;
    margin-top: 21.6px;
    display: flex;
    justify-content: space-between;
}
.second{
    height: 79.2%;
    width: 15%;
    margin-top: 21.6px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.logo{
    height: 32.24%;
    width: 8.7%;
    margin-top: 50px;
    margin-left: 35px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.barra_nav{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.navigazione{
    height: 28%;
    width: 700px;
    margin-bottom: 10px;
}
.navigazione #navi{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5px;
    position: relative;
}
nav a{
    color: #2c2c2c;
    text-decoration: none;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    height: 32.24%;
    width: 8.7%;
    margin-top: 50px;
    margin-left: 35px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.barra_nav{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.navigazione{
    height: 28%;
    width: 700px;
    margin-bottom: 10px;
}
.navigazione #navi{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5px;
    position: relative;
}
nav a{
    color: #2c2c2c;
    text-decoration: none;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    color: #BF162C;
}
.second a{
    margin-bottom: 5px;
    margin-right: 10px;
}
.second a img{
    height: 33px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 999px;
}
/*
.search{
    margin-bottom: 5px;
    margin-right: 10px;
}
.login{
    margin-bottom: 5px;
    margin-right: 10px;
}
.italy{
    margin-bottom: 5px;
    margin-right: 10px;
}
.recipe{
    margin-bottom: 7px;
    margin-right: 10px;
}
.recipe img{
    height: 33px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.edit_prfile{
    margin-bottom: 7px;
    margin-right: 10px;
}
.edit_profile img{
    height: 33px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.like{
    margin-bottom: 7px;
    margin-right: 10px;
}
.like img{
    height: 33px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.logout{
    margin-bottom: 7px;
    margin-right: 10px;
}

.logout img{
    height: 33px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.kcal{
    margin-bottom: 7px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.kcal img{
    height: 33px;
    width: auto;
}
.musica{
    margin-bottom: 7px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.musica img{
    height: 33px;
    width: auto;
}*/

.hidden{
    display: none;
}
#menu{
    display: none;
}
  #menu div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }

  #impatto{
    left: 36%;
}

#prodotti{
    left: 15%;
}

#novità{
    left: 58%;
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intero{
    display: flex;
    justify-content: space-between;
}

.intero .primo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
}

#navi img{
    top: 2px;
    margin-right: 5px;
    cursor: pointer;
}

#signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.Registrati{
    font-family: kelloggs;
}


.Registrati h1{
    font-weight: bold;
    font-size: 54px;
    color: black;
    margin: 0 0 35px;
    padding: 0 0 35px;
    border-bottom: 1px solid #d9dadc;
}

form p{
    color: #666666;
    font-weight: bold;
}

input{
    width: 360px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d9dadc;
    font-size: 16px;
    margin: 0px 0px 13px;
  }

  .name, .surname, .username, .email, .password, .confirm_password, .confirm_email{
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.allow{
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.allow input{
    width: 20px;
    height: 20px;
}

.allow label{
    margin-top: 4px;
    margin-left: 10px;
}

form img{
    opacity: 0;
    width: 10px;
    margin-right: 10px;
}

form span {
    opacity: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.25px;
    transition: opacity 0.3s ease;
}

.errorj label {
    color: #d01b2d;
}

.errorj span {
    opacity: 1;
    font-size: 14px;
    color: #d01b2d;
}

.errorj img {
    opacity: 1;
}

.errorj input, .errorj #upload {
    border-color: #d01b2d;
}

.submit input{
    margin-top: 30px;
    border-radius: 999px;
    padding: 16px 36px;
    height: 50px;
    font-size: 19px;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    background-color: #b51946;
    cursor: pointer;
}

.Registrati a{
    color: #D31145;
}

/* FOOTER */

footer{
    height: 340px;
    margin-top: 5%;
    max-width: 1250px;
    padding: 60px 3% 0 3%;
    text-align: center;
}

.list{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 10px;
}
.contenitore_1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.list a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 2px solid lightgray;
    width: 80%;
    font-size: 16px;
}
.contenitore_2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45.6px;
    position:relative;
    top: 60px;
}
.contenitore_2 p{
    font-size: 10px;
    color: #3b3b3b;
    text-align: left;
    display: inline-block;
    width: 69%;
}
.slide_product p{
    color: #666666;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
}
.social_links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social_links a{
    margin-left: 10px;
}